.grid-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 0.5fr 1fr;
        grid-template-areas: ". . ." ". . ." ". . .";
      }

#Ekko{
    grid-column: 3;
    grid-row: 1;
    width: 50%;
    margin-left: 50%;
      }
#Nami{
    grid-column: 1;
    grid-row: 1;
    width: 50%;
}

#quinze{
    position: absolute;
    width: 10.55%;
    right: 20%;
    margin-top: 7.8%;
}
#quatorze{
    position: absolute;
    width:10%;
    right: 33%;
    margin-top: 7.8%;
}
#treize{
    position: absolute;
    width:10%;
    right: 46%;
    margin-top: 7.8%;
}
#douze{
    position: absolute;
    width:10%;
    right: 59%;
    margin-top: 7.8%;
}
#onze{
    position: absolute;
    width: 10%;
    right: 72%;
    margin-top: 7.8%;
}
#Yasuo{
    position: absolute;
    width: 11%;
    margin-top: 7.8%;
}
#Taric{
    position: absolute;
    width: 11%;
    right: 0%;
    margin-top: 7.8%;
}
#desert{
    position: absolute;
    z-index: -9999;
    width: 99.009%;
    top: -10%
}

#doscarte{
    position: absolute;
    width: 11%;
    top: 34%;
    left: 25%;
}